/* cards */
.card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
  }
  
  .card-common:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
  }
  /* end of cards */
  
  /* task list */
  .task-border {
    border-left: 3px solid #f66436;
  }
  /* end of task list */