<div class="container mt-5 justify-content-center">

  <br>
  <br>

  <form class="needs-validation" novalidate>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Graze your event!</h1>
        <p class="lead">Lets Start With Your Address.</p>

        <div class="form-row">
          <div class="col-md-7">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input ngx-google-places-autocomplete [options]='options' (onAddressChange)="AddressChange($event)"
                type="text" class="form-control" placeholder="Enter Delivery Address" aria-label="Username"
                aria-describedby="basic-addon1">

            </div>
          </div>
          <div class="col-md-2">
            <div class="dropdown d-flex justify-content-center">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Pickup</button>
                <button class="dropdown-item" type="button">Drop Off</button>
              </div>
            </div> 
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-dark">Order Now</button>
          </div>
        </div>
      </div>
    </div>


    <p class="display-4  text-center mb-5">Need Some Information</p>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom01">First Name</label>
        <input type="text" class="form-control" id="validationCustom01" name="FirtName"
          [(ngModel)]="customerModel.FirstName" placeholder="First name" value="Shahim" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom02">Last Name</label>
        <input type="text" class="form-control" id="validationCustom02" name="LastName"
          [(ngModel)]="customerModel.LastName" placeholder="Last name" value="Ejaz" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustomUsername">Email Address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input type="text" class="form-control" id="validationCustomUsername" name="EmailAddress"
            [(ngModel)]="customerModel.EmailAddress" placeholder="Email-Address" aria-describedby="inputGroupPrepend"
            required>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Phone Number</label>
        <input type="text" class="form-control" id="validationCustom03" name="PhoneNumber"
          [(ngModel)]="customerModel.PhoneNumber" placeholder="Phone Number" required>
        <div class="invalid-feedback">
          Please provide a valid phone-number.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" (click)="show()" class="btn btn-dark">Next</button>
    </div>


    <div class="text-center mt-5 mb-5">
      <h1>Product</h1>
    </div>

    <div class="container d-flex justify-content-center">
      <div *ngFor="let product of productArray" class="card mr-4" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.Image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ product.Name }}</h5>
          <p class="card-text">{{ product.Description }}</p>
          <a id="myInput" data-toggle="modal" data-target="#exampleModal" (click)="loadProduct(product)" class="btn btn-primary">Add +</a>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <img class="card-img-top"
              src="{{ (selectedProduct.Image !== null) ? (selectedProduct.Image) : 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1763b9c4942%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1763b9c4942%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1875%22%20y%3D%2296.6%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' }}"
              alt="Card image cap">
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <p><b>Please select size: </b></p>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                  [(ngModel)]="customerModel.selectedSize" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button class="example-radio-button ml-3" *ngFor="let size of productSizeArray" [value]="size.Id">
                    {{ size.Name + " ($" + size.Price + ")" }} 
                  </mat-radio-button>
                </mat-radio-group>
                <div>Your selected size is: {{customerModel.selectedSize}}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label for="inputDescription"><b>Special requests?</b></label>
                  <textarea name="description"
                            type="text"
                            class="form-control"
                            [(ngModel)]="customerModel.Description"
                            placeholder="Add them here. We'll do our best to make it happen"
                            rows="2"></textarea>
                </div>
              </div>
            </div>
              <!-- <div class="col-md-4 mb-3">
                <label for="validationCustom02">Appartment</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Appartment" value="6"
                  required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">Floor</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">2</span>
                  </div>
                  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Floor"
                    aria-describedby="inputGroupPrepend" required>

                </div>
              </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

<script>
  $(document).ready(function () {
    $('.dropdown-toggle').dropdown()
  });
</script>